{% from "macros.html" import render_games %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesShop</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="content">
        <header>
            <div class="logo">
                GamesShop
            </div>
            <ul class="menu">
                <li>Главная</li>
                <li>Новинки</li>
                <li>Скидки</li>
                <li>Контакты</li>
            </ul>
            <div class="basket__panel">
                <div>🛒 Корзина</div>
            </div>
        </header>
        <main>
            <div class="find__panel">
                <form action="\" method="get">
                    <div class="row">
                        <input type="text" name="title" value="{{search['title'] if search['title'] else '' }}" placeholder="Название игры">
                    </div>
                    <div class="row">
                        <fieldset>
                            <legend>Платформа</legend>
                            {% for item in platforms %}
                            <input type="checkbox" name="platforms" value="{{item['title']}}"{{"checked" if item['title'] in search['platforms']}}>{{item['title']}}<br>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset>
                            <legend>Жанр</legend>
                            {% for item in genres %}
                            <input type="checkbox" name="genres" value="{{item['title']}}"{{"checked" if item['title'] in search['genres']}}>{{item['title']}}<br>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset>
                            <legend>Издатель</legend>
                            {% for item in publishers %}
                            <input type="checkbox" name="publishers" value="{{item['title']}}" {{"checked" if item['title'] in search['publishers']}}>{{item['title']}}<br>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset>
                            <legend>Язык</legend>
                            {% for item in languages %}
                            <input type="checkbox" name="languages" value="{{item['title']}}" {{"checked" if item['title'] in search['languages']}}>{{item['title']}}<br>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <div class="row">
                        <input type="submit" value="Найти">
                    </div>
                </form>
            </div>
            {{ render_games(games, 1) }}         
        </main>
    </div>
</body>
</html>